.container-transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 80px 0;
}

.transactions {
    width: 1000px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactions .transaction-day {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.transactions .transaction-day strong {
    color: var(--fourth);
    padding-left: 20px;
}

.transaction {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 65px 1fr 100px 40px 40px 40px;
    margin: 5px 0;
    padding: 2px;
    background-color: #fff;
    box-shadow: -1px 1px 4px var(--fifth);
    border-radius: 40px 20px 20px 40px;
    column-gap: 10px;
}

.transaction div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.transaction .client {
    cursor: pointer;
    transition: .5s all ease;
}

.transaction .client:hover {
    color: var(--first);
    font-weight: 600;
    padding: 0 5px;
    background-color: var(--fifth);
    border-radius: 10px;
}


.transaction div span {
    font-size: .7rem;
}

.transaction div .category {
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction div .revenue {
    background-color: var(--green);
}

.transaction div .expensive {
    background-color: var(--red);
}

.transaction div .category span {
    font-size: .6rem;
    color: var(--white);
    text-align: center;
}

.transaction div .category svg {
    font-size: 1.4rem;
    color: var(--white);
}

.transaction .icon {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 0;
    transition: .5s;
}

.transaction .icon:hover {
    transform: scale(1.4);
}

.transaction .icon svg {
    font-size: 1.2rem;
}


.handle-transactions {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {

    .transaction {
        height: 60px;
        grid-template-columns: 55px 1fr 80px 30px 30px 30px;
        column-gap: 0;
        padding: 0;
    }

    .transaction div p {
        font-size: .8rem;
    }

    .transaction div .category {
        height: 52px;
    }

    .transaction div .category svg {
        font-size: 1.1rem;
    }

    .transaction div .category span {
        font-size: .5rem;
    }

    .transaction .icon svg {
        font-size: 1.2rem;
    }
}