.container-transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0 80px 0;
}

.transactions {
  width: 1000px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transactions .transaction-day {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  border-left: 1px solid var(--fourth);
}

.transactions .transaction-day strong {
  color: var(--fourth);
  padding-left: 20px;
}

.no-transactions h2 {
  font-size: 1rem;
  color: var(--fourth);
  margin-top: 20px;
}
