.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--fifth);
  background-color: #fff;
}

.search svg {
  margin: 10px;
  color: var(--fourth);
}

.search input {
  padding: 8px;
  padding-left: 0;
  border: 0;
  border-radius: 0 10px 10px 0;
  outline: 0;
}
