.container-form-add {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-add-bg {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 80px;
  background-color: #fcfcfc;
  overflow: scroll;
}

.form-add-bg::-webkit-scrollbar {
  display: none;
}

.show-form-transactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  z-index: 4;
}

.bnts-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-add {
  padding: 10px;
  width: 120px;
  height: 60px;
  max-width: 100%;
  border-radius: 20px;
  border: 0;
  color: var(--white);
  box-shadow: -1px 1px 4px var(--fifth);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.btn-add svg {
  font-size: 1.8rem;
}

.btn-add span {
  font-size: 0.7rem;
}

.container-form-add h2 {
  color: var(--first);
  text-align: center;
  margin-bottom: 10px;
}

.form-add {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.form-add div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.form-add div label {
  margin-bottom: 20px;
  width: 49%;
  min-width: 300px;
  max-width: 100%;
}

.form-add div label p {
  padding-left: 5px;
  font-size: 0.8rem;
  color: var(--fourth);
}

.form-add div label input,
.form-add div label select,
.form-add div label button {
  width: 500px;
  height: 40px;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 1px 4px var(--fifth);
  border: 1px solid var(--fifth);
}

.form-add div label input,
.form-add div label select {
  background-color: #fff;
}

.form-add div .label-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.form-add div label .check {
  background-color: var(--first);
  width: 60px;
  height: 30px;
  margin: 0;
  border-radius: 20px;
  cursor: pointer;
}

.check .btn-check {
  display: inline-block;
  background-color: var(--fifth);
  width: 25px;
  height: 24px;
  margin: 3px;
  border-radius: 50px;
  position: relative;
  left: -15px;
  transition: 0.5s;
  z-index: 4;
}

.form-add div label .checkbox {
  display: none;
}

@media (max-width: 600px) {
  .form-add div label {
    width: 100%;
  }

  .btn-add {
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }

  .form-add-bg {
    bottom: 50px;
  }
}
