.btn-filters-transactions {
    display: flex;
    gap: 5px;
    margin-bottom: 20px; 
}

.btn-filters-transactions a {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: .6rem;
}